
.bar-subheader {
  z-index: 1;
  -webkit-transition: top 0.25s ease;
  transition: top 0.25s ease;
}

.has-subheader {
  top: 0px;
}
.has-subheader .scroll {
  padding-top: 0px;
}

body.bar-subheader-slide-away .bar-subheader {
  top: -44px;
}
body.bar-subheader-slide-away .has-subheader {
  top: 0px;
}
