.admi{

text-align: left;
font-size: 18px;
color: #666;
margin-top: 15px;
margin-left: 10px;

}

.fondoGris{
  background-color: rgb(234, 234, 234);
}
.star-rating {
  margin: 0;
  padding: 0;
  display: inline-block;
}
.star-rating .star {
  padding: 1px;
  color: #ddd;
  font-size: 20px;
  text-shadow: .05em .05em #aaa;
  list-style-type: none;
  display: inline-block;
  cursor: pointer;
}
.star-rating .star.filled {
  color: #fd0;
}
.star-rating.readonly .star.filled {
  color: #666;
}


.amarillo{

  color: darkkhaki !important;
}
.image-list-thumb {
    padding: 2px 2px 2px 2px;
    height: 100px;
}
 .etiquetas{
      width: 100%;

}


.itemFAV div{
display: inline-block;
vertical-align: middle;
height: 70px;
width: 130px;
line-height: 1.3;

}

.itemFAV div a:first-child{
  font-size: 20px;
  width: 100px;
  color: #666;
}

.itemFAV div a:nth-child(2){
  font-size:13px;
  float: left;
  width: 100px;
  color: #666;
}
.itemFAV div a:nth-child(3){
  font-size:13px;
  float: left;
  width: 100px;
color: darkkhaki !important;

}
.etiquetas a {
    margin-left: 12px;
    height: 38px;
    border: solid 1px khaki;
    display: inline-block;
    margin-top: 8px;
    padding-top: 7px;
    padding-left: 12px;
    padding-right: 12px;
    color: darkkhaki !important;
    font-size: 16px;
    background-color: #666;

}


.itemFAV img{
height: 70px;
width: 70px;
vertical-align: middle;
}

.image-modal {
    width: 100% !important;
    height: 100%;
    top: 0 !important;
    left: 0 !important;
}
.modalSelectGanador{

  width: 95% !important;
min-height: 0 !important;
height: 90% !important;
top: 8%;
left: 2.5%;
right: 6%;

background-color: #666;
border-radius: 10px;

}
 
.transparent {
    background: transparent !important;
}
 
.fullscreen-image {
    max-width: 100%;
    max-height: 100%;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}
 
.slider {
    width: 100%;
    height: 100%;
}


.imagenPropuesta{

height: 140px;

}
.bar-balance{
  background-color: #4db6ac !important;
  color:white !important;
}
.faceBtn{
-moz-user-select: none !important;
background: #2A49A5 !important;
border: 1px solid #082783 !important;
box-shadow: 0 1px #4C6BC7 inset !important;
color: white !important;
padding: 3px 5px !important;
text-decoration: none !important;
text-shadow: 0 -1px 0 #082783 !important;
font: 12px Verdana, sans-serif !important;


}
.iconLogin{



    position: absolute !important;
    bottom: 0;
    margin-bottom: 9px;
    left: 0;
}
.itemLogin{

  border: none !important;
border-bottom: solid 2px #e1bee7 !important;
}

.fabButton{
background: #666;
width: 50px;
height: 50px;
border-radius: 50%;
text-align: center;
color: #FFF;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5), 3px 3px 3px rgba(0, 0, 0, 0.25);
position: fixed;
bottom: 20px;
right: calc(50% - 25px);
font-size: 2em;
z-index: 9;
line-height: 1.7;
text-decoration: none !important;

}
.loginForm{

  position: absolute;

width: 85%;
margin-left: 7.5%;
}

.formA{

  width: 92%;
margin-left: 4%;
}

.borderBot{

  border-bottom:  solid 2px#A182D6 !important;
}
.itemForms{
margin-top: 2px;
  background-color:rgb(234, 234, 234) !important;
  border:none;
}
.inputCol50
{
  width: 90px;
  margin: auto;
  text-align: center;
  background-color: lightgray;
  border-radius: 5px; 
}
.modal{

  background-color: rgb(234, 234, 234); 

}

.tituloGrande{
text-align: center;
padding-top: 20px;
font-size: 20px;
color: darkgray;

}
.interes{}
.roundedBorder{
  height: 122px;
width: 122px;
display: block;
margin: auto;
border: 2px solid #64ffda;
border-radius: 200px;
box-shadow: 0 0 8px rgba(44, 243, 251, 0.8);
-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

}
.miPerfil{

  background-color: #4db6ac !important;
}
.bar-positive{

  background-color: black !important;
  border:none !important;
}
.user-image{

  border-radius: 200px;
}

.frame_look_feel {
background-color: red;
}



#container {width:100%;}

.left-column {
    width: 47%;
    float: left;
margin-left: 1.5%;
    background-color: #EAEAEA;
}
.right-column {
    width: 47%;
    float: right;
margin-right: 1.5%;
       background-color: #EAEAEA;

}
.infoBox {
    width: 100%;
    margin: -1px; 


    margin-top:9px;
    float:left;
}

.pujasE{

  position: absolute;
  right: 0;
  margin-right: 20px;
}

.numbers{
height: 30px;
width: 30px;
vertical-align: middle;
display: inline-block;
border-radius: 50%;
background-color: #42a5f5;
color: white;
font-weight: bold;
text-align: center;
line-height: 2;

}

.centerPay{
  margin-left: calc(50% - 57.5px);
}
.minusPlusBtn{
height: 34px;
width: 36px;
vertical-align: middle;
display: inline-block;
margin: 0px;
line-height: 1.5;
font-size: 22px;
}

.botonSubasta{
 
 border-top: solid 2px darkgray;
background-color: #623DA2;
color: white;
font-size: 17px;

}
 .descSubasta{
}




background-color: #fafafa;
border-radius: 0px 0px 10px 10px;
 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

 }

.estadoSubastador{

height: 10px;
width: 10px;
border-radius: 300px;
position: absolute;
margin-top: 13px;
}

.estadoActivo{background-color:green;}
.estadoInactivo{background-color:gray;}


.feed-category {
    height: -webkit-calc(50vw - 15px);
    height: calc(50vw - 15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 0px 0px;
    position: relative;
    display: block; }

  .feed-category .category-image {
      width: 100%;
      height: 100%;
     border-radius: 10px 10px 0px 0px; 
    overflow: hidden;
    object-fit: contain;
   }

    .feed-category .category-bg {
      position: absolute;
      top: 0px;
      left: 0px;
      border-radius: 10px 10px 0px 0px;
      width: 100%;
      height: 100%;
      background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(39, 44, 48, 0.3) 40%, rgba(62, 69, 76, 0.3) 60%, rgba(85, 94, 104, 0.3)); }

     .feed-category .category-title {
      color: #FFFFFF;
      position: absolute;
      top: 0px;
      left: 4px;
      font-weight: 500;
      text-transform: capitalize; }

      .tiempoRestante{

        position: absolute;
margin-top: 7px;
margin-left: 33px;
      }

.euroI{position: absolute;
top: 0;
right: 0;
margin-top: 7.5px;
margin-right: 5px;}

.crownI{

position: absolute;
bottom: 0;
right: 0;
margin-bottom: 5px;
margin-right: 5px;

}


.precioA{

position: absolute;
top: 0px;
right: 0px;
margin-right: 25px;
margin-top: 8px;
color: white;
font-size: 18px;
}

.tipoS{

  font-size: 15px;
padding-top: 6px;
margin-left: 4px;
color: #e53935;
}
.fake-statusbar {
  height: 20px;
  max-height: 20px;
  font-size: 12px;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  color: #fff;
  padding: 2px 3px 3px 3px;
  background-color: #4a87ee;
}
.fake-statusbar .time {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}
.fake-statusbar .pull-left { float: left; }
.fake-statusbar .pull-right { float: right; }

.bar-header {
  height: 46px !important;
}
.bar-header > * {
  margin-top: 0px !important;
}

.scroll-content{
  top:0 !important
}


.itemContenido{}



ion-side-menu ion-content {
  background-color: #23262a; }
ion-side-menu ion-item.item {
  border-right: none;
  border-left: none;
  border-color: #33383e; }
  ion-side-menu ion-item.item .item-content {
    background-color: #23262a; }
    ion-side-menu ion-item.item .item-content .icon:before {
      background-color: #3E454C;
      color: #FFFFFF;
      border-radius: 50%;
      font-size: 22px;
      width: 32px;
      height: 32px;
      line-height: 32px; }
  ion-side-menu ion-item.item .item-content.activated {
    background-color: #555e68; }
  ion-side-menu ion-item.item .menu-text {
    color: #cccccc;
    font-weight: 500; }
ion-side-menu ion-item.item:first-child {
  border-top: none; }
ion-side-menu ion-item.item:last-child {
  border-bottom: none; }
ion-side-menu .heading-item .item-content {
  height: 120px;
  padding-top: 45px;
  padding-left: 115px;
  background-color: #272c30;
  padding-bottom: 0px; }
ion-side-menu .heading-item .user-image-container {
  width: 90px;
  position: absolute;
  top: 16px;
  left: 12px; }
  ion-side-menu .heading-item .user-image-container .user-image {
    border-radius: 50%;
    padding: 8px;
    border: 1px solid #999999;
    width: 100%; }
ion-side-menu .heading-item .greeting {
  color: #FFFFFF;
  font-weight: 500; }
ion-side-menu .heading-item .message {
  color: #999999; }

.feeds-categories-view {
  background-color: #EAEAEA !important; }

  .subti{

  font-size: 13px !important;
  color: #666;
}

.crownI{

position: absolute;
top: 0;
right: 0;
margin-top: 10px;
margin-right: 12px;

}

.crownDashboard{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 5px;
    margin-bottom: 6px;

}

.edtBtn{
  font-size: 27px;
right: 0px;
position: absolute;
margin-right: 21px;
margin-top: -8px;
}

.dashboardSubasta{
width: 100%;
bottom: 0px;
border: solid 2px lightgray;
height: 91px;
display: inline-block;

text-align: center;
border-top: none;
border-radius: 0px 0px 10px 10px;
}

.dashboardSubasta>p{
  font-size: 13px !important;
color: rgb(102, 102, 102);

}

      .tiempoRestante{

        position: absolute;
margin-top: 7px;
margin-left: 33px;
      }


.title{
  text-align: center;
  margin: 10px;
  min-width: 100px !important;
}

.test-content{
  text-align: center;
  padding:80px;
  color: white;
}



#clockdiv{
font-family: sans-serif;
color: #fff;
display: inline-block;
font-weight: 100;
text-align: center;
font-size: 25px;
width: 100%;

}

#clockdiv > div{
    padding: 10px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}




.time-to {
  text-align: center;
  font-family: Bangers;
  color: white;
  font-size: 35px;
  letter-spacing: 2px;
}
.time-to span {
  display: block;
  font-size: 19px;
  color: #666;

}

.tituloFiltro{

  color: darkcyan;
}




.modalSelect{

width: 85%;
min-height: 0 !important;
height: 80% !important;
top: 12%;
left: 7.5%;
right: 6%;
bottom: 5%;
background-color: transparent;
border-radius: 10px;
-webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color:#A182D6;
  border-radius: 10px;
}

.ion-nifty-modal {
  width: 90%;
  min-height: 0 !important;
  height:192px !important;
  top: 25%;
  left: 5%;
  right: 5%;
  bottom: 5%;
  background-color: transparent;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5); }



.ion-nifty-modal .ion-modal-content-custom {
  width: 100%;
  height: 100%;
  color: #FFF;
  background-color:#A182D6;
  border-radius: 10px; }

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .7; }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0; } }

    .sexSelector{width: 100%}

       .sexSelectorItem{
text-align: center;
width: 45%;
display: inline-block;
margin-left: 2.5%;
border-bottom: solid 3px lightgray;
margin-top: 30px;
       }
       .sexSelectorItem img{
height: 35px;
width: 35px;
        vertical-align: middle;
       }
       .labelForm{
margin-top: 30px;
        width: 95%;
margin-left: 2.5%;

       }


       .filtroItemActive{
color: rgb(0, 191, 165);
border-bottom: 3px solid rgb(0, 191, 165);

       }



#map {
width: 100%;
height: 85%;
margin-top: 46px;
}

.scroll {
  height: 100%;
}





.messages {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  -webkit-align-content: center !important;
  -ms-flex-line-pack: center !important;
  align-content: center !important;
  -webkit-box-align: center !important;
  -moz-box-align: center !important;
  -webkit-align-items: center !important;
  -ms-flex-align: center !important;
  align-items: center !important;
  margin-bottom: 20px !important;
}
.messages .message {
  -webkit-box-flex: 1 !important;
  -moz-box-flex: 1 !important;
  -webkit-flex: 1 1 auto !important;
  -ms-flex: 1 1 auto !important;
  flex: 1 1 auto !important;
  padding: 10px !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  overflow: hidden !important;
  text-align: left !important;
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
}

.time {
  -webkit-box-flex: 0 !important;
  -moz-box-flex: 0 !important;
  -webkit-flex: 0 1 auto !important;
  -ms-flex: 0 1 auto !important;
  flex: 0 1 auto !important;
  -webkit-align-self: auto !important;
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
  width: 120px !important;
  text-align: center !important;
  padding: 0 0 0 0 !important;
  -webkit-transition: all 250ms ease-in-out !important;
  transition: all 250ms ease-in-out !important;
  -webkit-transform: translate3d(10px, 0, 0) !important;
  -moz-transform: translate3d(10px, 0, 0) !important;
  transform: translate3d(10px, 0, 0) !important;
}
.time.slide-right {
  -webkit-transform: translate3d(130px, 0, 0) !important;
  -moz-transform: translate3d(130px, 0, 0) !important;
  transform: translate3d(130px, 0, 0) !important;
}

.messages.other .message {
  -webkit-transform: translate3d(0, 0, 0) !important;
  -moz-transform: translate3d(0, 0, 0) !important;
  transform: translate3d(0, 0, 0) !important;
  text-align: right !important;
}
.messages.other .message.slide-right {
  -webkit-transform: translate3d(120px, 0, 0) !important;
  -moz-transform: translate3d(120px, 0, 0) !important;
  transform: translate3d(120px, 0, 0) !important;
}
.messages.other span {
  color: black !important;
  background-color: #C7C7CC !important;
}

.chatStyle span {
  background: #007AFF !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}