<!DOCTYPE html>
<html ng-app="starter">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body >
   
  <!-- The nav bar that will be updated as we navigate -->
  <ion-nav-bar class="bar-positive">
    <ion-nav-back-button class="button-clear" transitiontype="fade" go-native>
      <i class="ion-arrow-left-c"></i> 
    </ion-nav-back-button>
  </ion-nav-bar>  
   
  <ion-nav-view></ion-nav-view>
          <!-- ng-click="changePage(movie.id)" --> 
  <script id="list.html" type="text/ng-template">
    <ion-view  view-title="subastApp"> 
    <ion-nav-buttons side="right">
<a style="color: darkkhaki; border: 1px solid ! important; font-size: 17px;" class="button bar-positive ion-star disable-user-behavior" href="#/filtros" transitiontype="flip" direction="right" go-native="">
        Filtros
      </a>
   </ion-nav-buttons> 
      <ion-content style='background-color: rgb(234, 234, 234);'>
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="search" placeholder="Search" ng-model="movie.name" ng-change="searchMovieDB()">
        </label>

          <div id="container" >
          <div class="{{subasta.col}}" ng-repeat="subasta in subastas"  >
          <div class="infoBox">
          <a class="feed-category" href="#/detail" transitiontype="fade"  go-native>
          <pre-img ratio="_1_1" helper-class="square-image">
          <img class="category-image" ng-src="{{subasta.image}}" spinner-on-load>

          </pre-img>
          <div class="category-bg"></div>
          <span class="category-title"><div style="height: 9px; width: 9px; border-radius: 25px; position: absolute; margin-top: 13px;" class="estadoSubastador {{subasta.estado}}"></div><p style='margin-left: 16px;margin-top: 8px'>{{subasta.nombrePonente}}</p></span>
          <img class="icon euroI icons8-Euro-Filled" src="img/euroF.png" width="18" height="18">
          <img ng-if='subasta.vip==true'class="icon crownDashboard icons8-Euro-Filled" src="img/crown.png" width="27" height="27">
          <text class='precioA'>{{subasta.valorInicial}}</text>
          </a>

          </div>
          <div class='dashboardSubasta'>
          <div style="margin-top: 7px;"> <i class="icon ion-clock"></i> {{subasta.tiempoLimite}}</div>
          <p>
          {{subasta.descripcion}}
          </p>
          </div>

          </div>

          </div>

      </ion-content>
    </ion-view>    
  </script>  
   
  <script id="view.html" type="text/ng-template">
    <ion-view view-title="Historial de pujas">   
      <ion-content style='background-color: rgb(234, 234, 234);'>
        <div class="list card">
   
          <div class="item item-avatar">
            <img src="http://files.softicons.com/download/object-icons/movies-icons-by-pinchodesigns/png/32x32/Movie.png">
            <h2>{{movie.original_title}}</h2>
            <p>{{movie.release_date}}</p>
          </div>
   
          <div class="item item-image">
            <img ng-src="https://image.tmdb.org/t/p/w92{{movie.poster_path}}" width="200px" />
          </div>
   
          <a class="item" href="#">
              Average Vote: <strong>{{movie.vote_average}}</strong> (Votes: {{movie.vote_count}})
            </a>
   
        </div>
      </ion-content>
    </ion-view>     
  </script>   
   
    <script id="detail.html" type="text/ng-template">
    <ion-view view-title="Subasta"> 
     <ion-nav-buttons side="right">
<a style="color: darkkhaki; border: 1px solid ! important; font-size: 15px;" class="button bar-positive ion-eye disable-user-behavior" href="#/pujas" transitiontype="flip" direction="right" go-native="">
        Ver pujas
      </a>
   </ion-nav-buttons> 

        <a style="position: fixed; z-index: 3; bottom: 0px; width: 100%;" class="button button-positive disable-user-behavior" >
        Realizar puja
        </a>
      <ion-content style='background-color: rgb(234, 234, 234);'>
        <div style="height: 45px;"></div>

        <div style="position: absolute; width: 94%;" class="list card">
        <div class="item item-avatar">
        <img src='img/user1.jpg'>
        <img src='img/crown.png' class='crownI'> 
        <h2>Maria</h2>
        <p>Conectado</p>

        </div>



        <div class="item item-body">


        <ion-slide-box>

        <ion-slide ng-repeat="page in pages"> 


        <div ng-if="slideVisible($index)" style="background-color:{{page.background}}">
        <h1 class="test-content">{{page.text}}</h1> 
        </div>



        </ion-slide>

        </ion-slide-box>

        </div>
        <div class="item item-body">
        <div>
        <div class="row"style="text-align: center;">
        <div class='col col-50'>
        <a>34</a><img style="vertical-align: middle; height: 38px; width: 38px;" src="img/euro.png">
        <br><span class='subti'>Puja mas alta</span>
        </div>
        <div class='col col-50'>
        <img style="vertical-align: middle; height: 38px; width: 38px;" src="img/time.png"><a>2h 34min</a>
        <br><span class='subti'>Tiempo restante</span>
        </div>
        </div>
        </div>

        <p>
        </p>
        </div>
        <div class="item item-body">
        <div>
        <h2 style="margin-top: 0px;">Cena / Bebida</h2>
        <p> Me ofrezco para cena en restaurante vegetariano o hindu, tu eliges</p>
        </div>
        </div>
        <div class="item item-body">
        <div>
        <h3 style="margin-top: 0px;">Detalles adicionales</h3>
        <p> Me ofrezco para cena en restaurante vegetariano o hindu, tu eliges</p>
        </div>
        <div style="height: 55px;"></div>
        </div>





        </div>

      
      </ion-content>
    </ion-view>     
  </script>   
   

     <script id="pujas.html" type="text/ng-template">
    <ion-view view-title="Historial de pujas">   
      <ion-content style='background-color: rgb(234, 234, 234);'>
            <div style="height: 44px;"></div>
         <div class='list card'>
          <div class='item item-body'>
              
              <div class='time-to'>

    <span countdown='' date='January 1, 2017 12:00:00'>&nbsp;</span>
  </div>
              

          </div>
          <div class='item item-body historialDePujas'>
          <div style="text-align: center;">
            <img style="height: 26px; width: 26px;" class="" src="img/flag.png"><h2 style="color: rgb(68, 68, 68); text-align: center; display: inline-block; margin-left: 8px; margin-top: 0px ! important;">Historial de pujas</h2></div>
          <div class="list"  style="padding-top: 14px;" >
          <div class="item">

          <img class='numbers' src='img/1.png'>
          <a>Alvaro Ochoa</a>
          <a class='pujasE'>34€</a>
          </div>
          <div class="item">
          <img class='numbers' src='img/2.png'>
          <a>David Garcia</a>
          <a class='pujasE'>23€</a>
          </div>
          <div class="item">
          <img class='numbers' src='img/3.png'>
          <a>Santiago G.</a>
          <a class='pujasE'>15€</a>
          </div>                    
          </div>

          <button class="button button-full button-assertive">Realizar Puja</button>
          </div>
          </div>
      </ion-content>
    </ion-view>     
  </script> 


       <script id="filtros.html" type="text/ng-template">
    <ion-view view-title="Filtros">   
      <ion-content style='background-color: rgb(234, 234, 234);'>
            <div style="height: 50px;"></div>
      <div class="list list-inset" style='background-color: #EAEAEA;'>
      <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Ubicacion">
      </label>
      <label style="margin-top: 10px;" class="item ">
      <a  class='tituloFiltro'>Precio</a><br>
      </label>
      <label class="item " >

<div style="text-align: center;" class="row" >  
      <div class="col col-50" >
      <div><a style='color:#444'>De</a><input style="width: 100%; border-radius: 10px; background-color: lightblue;" placeholder="" type="number"></div>
      </div>
        <div class="col col-50">
      <div><a style='color:#444'>&nbsp;a&nbsp;</a><input style="width: 100%; border-radius: 10px; background-color: lightblue;" placeholder="" type="number"></div>
      </div>
      </div>

      </label>



      <label style="margin-top: 10px;" class="item ">
      <a class='tituloFiltro'>Categoria</a><br>
      </label>
      <label class="item " >

      <ion-list>

        <ion-checkbox ng-model="filter.cena">Cena</ion-checkbox>
        <ion-checkbox ng-model="filter.deporte">Deporte</ion-checkbox>
        <ion-checkbox ng-model="filter.entre">Entretenimiento</ion-checkbox>
        <ion-checkbox ng-model="filter.cine">Cine</ion-checkbox>
        <ion-checkbox ng-model="filter.aire">Al aire libre</ion-checkbox>

      </ion-list>

      </label>

      <label style="margin-top: 10px;" class="item ">
      <a  class='tituloFiltro'>Fecha de publicacion</a><br>
      </label>
      <label class="item ">
      <div class="list">

        <label class="item item-input item-select">
          <div class="input-label">
            Publicado
          </div>
          <select>
            <option>Hace 24h</option>
            <option >Hace 7 dias</option>
            <option>Hace 30 dias</option>
          </select>
        </label>

      </div>
      </label>


  </div>
      </ion-content>
    </ion-view>     
  </script> 

  </body>
</html>
